extends layout

block content
	h1= title
	#articles
		each article in articles
			div.article
				div.created_at= article.created_at
				div.title
					a(class="titleName", href="/blog/"+article._id.toHexString())!= article.title
					form(action="/blog/delete/"+article._id.toHexString(), method="post",class="deleteButton")
						input(type="submit", value="Delete")
				div.body= article.body